$background: #FFFFFF
$text: #1C1C1C
$gray: #7C7C7C
$dark-gray: #282631
$border: #D9D9D9
$primary: #E70022
$red: #EC5555
$green: #1C945A
$blue: #E70022
$orange: #FFA500

$hover-bg: rgba(0, 0, 0, 0.03)
$hover-shadow: rgba(0, 0, 0, 0.15)
